.hide {
    display: none
}

body {
    display: flex;
}

div {
    justify-content: center;
    align-items: center;
}

.container {
    background-color: aqua;
    align-items: center;
}

.ab {
    background-color: burlywood;
}

